@charset "utf-8";
/* -----reset----- */
body {
  font-family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  font-size: 16px;
}

/* -----Layout----- */
.header {
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.banner {
  overflow: hidden;
}

.cardSet {
  justify-content: center;
  flex-wrap: wrap;
}

/* -----header----- */
.header__toggle {
  display: none;
}
.header__toggle:checked ~ .nav{
  display: block;
}
.header__ham {
  position: relative;
  display: none;
  min-width: 36px;
  height: 25px;
  margin-right: 15px;
  margin-top: -5px;
  box-sizing: border-box;
}
.header__barWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -10px;
}
.header__barWrap::before {
  content: "";
  position: absolute;
  transform: translateY(-6px);
  height: 2px;
  width: 20px;
  border-radius: 5px;
  background: #666;
  transition: all .5s;
}
.header__barWrap::after {
  content: "";
  position: absolute;
  transform: translateY(6px);
  height: 2px;
  width: 20px;
  border-radius: 5px;
  background: #666;
  transition: all .5s;
}
.header__bar {
  position: absolute;
  height: 2px;
  width: 20px;
  border-radius: 5px;
  background: #666;
  transition: all .5s;
}

/* -----logo----- */
.logo__img {
  display: block;
  width: 100%;
  height: auto;
}
/* -----nav----- */
.nav {
  font-size: 1rem;
  color: #24B4D7;
}
.nav__link {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
.nav__item + .nav__item {
  margin-left: 18px;
}
/* -----carousel----- */
.carousel {
  position: relative;
  height: 80vh;
}
.carousel__img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0%;
}
/* -----intro----- */
.intro {
  position: absolute;
  padding-top: 110px;
  padding-bottom: 110px;
  top: calc(50% - 300px);
  left: calc(50% - 375px);
  width: 728px;
  color: #24B4D7;
  font-weight: 600;
  text-align: center;
  background-image: repeating-linear-gradient( 
    -45deg, 
    transparent, 
    transparent 2.5px, 
    rgba(222, 231, 237, .2) 2.5px, 
    rgba(222, 231, 237, .2) 5px
  );
  box-sizing: border-box;
}
.intro__tit {
  font-size: 4.3rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.intro::before {
  content: "F2E 前端開發";
  font-size: 2rem;
}
.intro::after {
  content: "學會，百萬年薪不是夢";
  font-size: 2rem;
  display: block;
  padding-top: 2rem;
}
/* -----count----- */
.count {
  max-width: 1070px;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative; 
  top: -55px;
  justify-content: center;
  color: #fff;
}
.count__head {
  width: 28%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.count__body {
  width: 38%;
  padding: 20px 45px;
  box-sizing: border-box;
}
.count__foot {
  width: 28%;
  padding-top: 11px;
  padding-bottom: 11px;
}
.count__tit {
  font-size: 2rem;
  margin-bottom: 15px;
}
.count__date {
  font-size: 1.2rem;
}

.count__amount {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.count__full {
  line-height: 85px;
  font-size: 1.6rem;
  font-weight: 600;

}
.count__num {
  font-size: 2rem;
}
.count__link {
  display: block;
  color: #3C37DE;
  font-size: 1.15rem;
  text-decoration: none;
}

/* -----progress----- */
.progress {
    position: relative;
    width: 80px;
    top: 35px;
    height: 5px;
    background-color: #ddd;
}
.progress-lg {
  width: 160px;
}

.progress__head,
.progress__foot,
.progress__begin {
    font-size: .7rem;
}

.progress__head,
.progress__foot {
    position: relative;
    left: 45%;
    bottom: 25px;
}

.progress__begin {
    position: absolute;
    top: 20px;
    left: -19px;
}

.progress__bar {
    z-index: 0;
    height: 5px;
    width: 0;
    background-color: #22A9CA;
    margin-top: 14px;
    margin-bottom: 13px;
    position: relative;
    bottom: 26px;
}

.progress:first-child::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -5px;
    z-index: 1;
    width: 15px;
    height: 15px;
    margin-top: -3px;
    background-color: #fff;
    border: 4px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
}

.progress::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -3px;
    z-index: 1;
    width: 15px;
    height: 15px;
    margin-top: -3px;
    background-color: #fff;
    border: 4px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
}
/* -----main----- */
.main__body {
  background-image: repeating-linear-gradient( 
    -45deg, 
    transparent, 
    transparent 2px, 
    rgba(255, 254, 254, 0.199) 2px, 
    rgba(255, 255, 255, 0.199) 4px
  );
  background-color: #24B4D7;
  mix-blend-mode:color-dodge;
  padding-top: 55px;
}
/* -----desc----- */
.desc {
  position: relative;
}
.desc__head {
  margin-top: 10px;
  margin-bottom: 25px;
}
.desc__title {
  font-size: 2.75rem;
  font-weight: 600;
  color: #24B4D7;
  line-height: 1.25em;
}
.desc__media {
  position: absolute;
}
.desc__img {
  display: block;
  width: 100%;
  height: auto;
}
.desc__media--lg {
  /* display: none; */
  width: 760px;
  top: 0px;
  left: 475px;
  height: 500px;
  clip-path: polygon(37% 0,100% 0%,63% 100%,0 100%);
}
.desc__media--lg > .desc__img {
  height: 100%;
  object-fit: cover;
}
.desc__media--sm {
  /* display: none; */
  width: 775px;
  top: 267px;
  left: 42px;
  height: 300px;
  clip-path: polygon(20% 0,100% 0%,80% 100%,0 100%);
}
.desc__media--sm::after {
  position: absolute;
  top: 0;
  content: url("../images/youtube-brands.png");
  text-indent: calc(50% - 50px);
  padding-top: 120px;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient( 
    -45deg, 
    transparent, 
    transparent 1.5px, 
    #64646415 1.5px, 
    #64646415 3px
  );
  background-color: rgba(102, 102, 102, 0.15);
  box-sizing: border-box;
}

.desc__content {
  max-width: 480px;
  font-size: 1.2rem;
  line-height: 1.5em;
}
.desc__link {
  display: block;
  margin-top: 450px;
  margin-bottom: 130px;
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
}
/* -----modal----- */
.modal {
  position: fixed;
  top: 0;bottom: 0;left: 0;right: 0;
  background-color: #000000c5;
  z-index: 2;
  display: none;
}
.modal__media {
  position: absolute;
  left: calc(50% - 320px);
  top: calc(50% - 180px);
} 
/* -----course----- */
.course {
  padding-bottom: 30px;
}
.course__title {
  width: fit-content;
  padding: 18px 30px;
  margin-top: 72px;
  background-color: #fff;
  color: #24B4D7;
  font-size: 3rem;
  font-weight: 600;
}
.course__intro {
  margin-top: 72px;
  margin-bottom: 50px;
}
.course__subTitle {
  width: fit-content;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 48px;
}
.course__subTitle::after {
  content: "";
  display: block;
  margin-top: 15px;
  width: 50px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  box-sizing: border-box;
}
.course__link {
  display: block;
  color: #24B4D7;
  text-decoration: none;
  margin-bottom: 100px;
  font-size: 2.2rem;
}
/* -----animate----- */
.animate__title {
  opacity: 0;
}
.animate__item {
  opacity: 0;
}
/* -----wrap----- */
.wrap {
  width: 33.3333%;
  margin-bottom: 60px;
}
.wrap + .wrap {
  display: flex;
  align-items: center;
}
.wrap + .wrap::before {
  content: "\276D\276D";
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
}
/* -----card----- */
.card {
  width: calc(100% - 40px);
  position: relative;
  background-color: #fff;
  margin-right: 20px;
  margin-left: 20px;
}
.card__arrow {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 3rem;
  color: #fff;
  align-self: center;
}
.card__imgContainer {
  height: 202px;
  overflow: hidden;
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 19px 15px;
}
.card__tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
}

/* -----effort----- */
.effort {
  width: 85.33%;
  padding-top: 130px;
  padding-bottom: 130px;
}
.effort__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 70px;
}


.effort__box {
  width: 33.3333%;
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 2px 2px 30px rgba(189, 189, 189, 0.537);
}
.effort__box + .effort__box {
  margin-left: 35px;
}
.effort__count {
  margin-bottom: 20px;
}
.effort__num {
  font-size: 3rem;
  color: #24B4D7;
}
.effort__tbl {
  width: 100%;
  font-size: 1.25rem;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.effort__td,
.effort__th {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ddd ;
}
.effort__employ {
  width: 37%;
}
.effort__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
}
/* -----footer----- */
.footer {
  padding: 15px;
  color: #fff;
  background-color: #333;
}
.footer__head{
  font-size: 1.125rem;
  margin-bottom: 15px;
}
.footer__body,
.footer__foot {
  font-size: 0.8rem;
  line-height: 1.2em;
}
/* -----helper----- */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.d-flex {
  display: flex;
}
.block {
  text-align: center;
}
.block + .block {
  margin-left: 30px;
}
.block-info {
  background-color: #24B4D7;
}
.block-light {
  background-color: #4DC4E1;
}
.block-purple {
  background-color: #918EEC;
}
.btn {
  width: fit-content;
  padding: 10px 28px;
  border-radius: 3px;
}
.btn-md {
  padding: 15px 47px;
}
.btn-white {
  background-color: #fff;
}
.btn-peace {
  background-color: #24B4D7;
}
@keyframes fade {
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade {
  animation: fade 20s ease-in-out infinite;
}
.fade-0 {
  animation-delay: 0;
}
.fade-1 {
  animation-delay: 5s;
}
.fade-2 {
  animation-delay: 10s;
}
.fade-3 {
  animation-delay: 15s;
}
.js-slide__down {
  animation: slideDown 1s ease-in 0s both;
}
.js-slide__up {
  animation: slideUp 1s ease-in 0s both;
}

.js-progress::before,.js-progress::after{
  border-color: #24B4D7 !important;
}
.js-progress .progress__bar {
  width: 100%;
}


.bg-white {
  background-color: #fff;
}
.bg-cancel {
  background-color: #eee;
}
.text-bold {
  font-weight: 600;
}

/* -----RWD----- */
@media screen and (max-width: 1024px) {
  .block + .block {
    margin-left: 15px;
  }
  .count__tit {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.56rem;
  }
  .count__tit {
    font-size: 2rem;
  }
  .desc__title {
    font-size: 2rem;
  }
  .desc__content {
    max-width: 450px;
  }
  .count__date {
    font-size: 1.05rem;
  }
  .effort {
    width: 90.54%;
  }
  .desc__media--lg {
    width: 60%;
    height: 380px;
    left: 340px;
    clip-path: polygon(37% 0,100% 0%,63% 100%,0 100%);
  }
  .desc__media--sm {
    width: 60%;
    height: 225px;
    left: 0px;
    top: 228px;
    clip-path: polygon(22% 0,100% 0%,78% 100%,0 100%);
  }
  .desc__img {
    height: 100%;
    object-fit: cover;
  }
  .course__title {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 768px) {
  .carousel {
    height: 80vh;
  }
  .container {
    padding: 0;
  }
  .desc__media {
    height: fit-content;
  }
  .intro {
    width: 87.7%;
    left: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .intro__tit {
    font-size: 3rem;
  }
  .intro::after {
    padding-top: 20px;
  }
  .count__head,
  .count__foot {
    width: 32%;
  }
  .count__body{
    width: 36%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .block +.block {
    margin-left: 0;
  }
  .desc__head,
  .desc__body {
    padding-left: 15px;
  }
  .wrap {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .wrap +.wrap::before {
    margin-top: 20px;
    margin-bottom: 20px;
    transform: rotate(90deg);
  }
  .course__title {
    font-size: 2.3rem;
  }
  .card__imgContainer {
    height: 365px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    background-color: #ffffffe5;
  }
  .header__ham {
    display: block;
  }
  .nav {
    display: none;
    margin-top: -1px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .nav__ls {
    flex-direction: column;
    padding-left: 15px;
    background-color: #ffffffe5;
  }
  .nav__item {
    width: 100%;
    padding: 10px;
  }
  .nav__item +.nav__item {
    margin-left: 0;
  }
  .desc__foot {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .desc__media {
    position: static;
    width: 100%;
    height: fit-content;
    clip-path: polygon(0 0,100% 0%,100% 100%,0 100%);
    box-sizing: border-box;
  }
  .desc__link {
    margin-top: 50px;
  }
  .count__body {
    width: 100%;
    order: -1;
    height: 107px;
    padding-left: 14%;
    padding-right: 14%;
  }
  .count__head,
  .count__foot {
    width: 50%;
  }
  .course__title {
    font-size: 1.58rem;
  }
  .card__imgContainer {
    height: 240px;
  }
  .effort__tbl {
    font-size: 1rem;
  }
  .effort__props {
    flex-direction: column;
  }
  .effort__box {
    width: 100%;
  }
  .effort__box + .effort__box {
    margin-left: 0;
    margin-top: 15px;
  }
  
}
/* @media screen and (max-width: 414px) {
  
} */
