@charset "utf-8";
/* -----reset----- */
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  font-size: 16px;
}

/* -----Layout----- */
.header {
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: all .8s ease-in-out;
}
.outer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.banner {
  overflow: hidden;
}

.cardSet {
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

/* -----header----- */
.header__ham {
  position: relative;
  display: none;
  box-sizing: border-box;
}
.header__barWrap {
  border-width: 0;
  background-color: transparent;
}
.header__barWrap > i {
  pointer-events: none;
}
.header__barWrap:hover {
  cursor: pointer;
}
/* -----logo----- */
.logo__img {
  display: block;
  width: 100%;
  height: auto;
}
/* -----nav----- */
.nav {
  font-size: 1rem;
  color: #24B4D7;
}
.nav__link {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  transition: all .8s ease-in-out;
}
.nav__item + .nav__item {
  margin-left: 18px;
}
/* -----carousel----- */
.carousel {
  position: relative;
  height: 80vh;
}
.carousel__img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0%;
}
/* -----intro----- */
.intro {
  padding-top: 110px;
  padding-bottom: 110px;
  width: 728px;
  color: #24B4D7;
  font-weight: 600;
  text-align: center;
  background-image: repeating-linear-gradient( 
    -45deg, 
    transparent, 
    transparent 2.5px, 
    rgba(222, 231, 237, .2) 2.5px, 
    rgba(222, 231, 237, .2) 5px
  );
  box-sizing: border-box;
}
.intro__tit {
  font-size: 4.3rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
.intro__subTit {
  font-size: 2rem;
}
/* -----count----- */
.count {
  max-width: 1070px;
  flex-wrap: wrap;
  position: relative; 
  top: -55px;
  justify-content: center;
  color: #fff;
  box-sizing: border-box;
}
.count__head {
  width: 28%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.count__tit {
  font-size: 2rem;
  margin-bottom: 15px;
}
.count__date {
  font-size: 1.25rem;
}
.day,
.hour,
.min,
.sec {
  font-size: 1.75rem;
}
.count__body {
  width: 38%;
  padding: 20px 45px;
  box-sizing: border-box;
}
.count__foot {
  width: 28%;
  padding-top: 11px;
  padding-bottom: 11px;
}
.count__head,
.count__foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.count__ls {
  max-width: 95%;
}
.count__amount {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.count__num {
  font-size: 2rem;
}
.count__full {
  font-size: 1.6rem;
  font-weight: 600;
}
.count__link {
  display: block;
  color: #3C37DE;
  font-size: 1.15rem;
  text-decoration: none;
}
/* -----progress----- */
.progress {
    position: relative;
    top: 35px;
    width: 30%;
    height: 5px;
    background-color: #ddd;
}
.progress__head,
.progress__foot,
.progress__begin {
    font-size: 0.9rem;
}
.progress__head,
.progress__foot {
  position: absolute;
}
.progress__head {
  right: -26px;
  bottom: 20px;
}
.progress__foot {
  width: 79px;
  top: 21px;
  right: -31px;
}
.progress__begin {
    position: absolute;
    top: 21px;
    left: -27px;
}
.progress__bar {
    z-index: 0;
    height: 5px;
    width: 0;
    background-color: #22A9CA;
    /* margin-top: 14px;
    margin-bottom: 13px; */
    position: relative;
    bottom: 0px;
}
.progress:first-child::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -5px;
    z-index: 1;
    width: 15px;
    height: 15px;
    margin-top: -3px;
    background-color: #fff;
    border: 4px solid #22A9CA;
    border-radius: 50%;
    box-sizing: border-box;
}
.progress::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -3px;
    z-index: 1;
    width: 15px;
    height: 15px;
    margin-top: -3px;
    background-color: #fff;
    border: 4px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
}
/* -----main----- */
.main__body {
  background-image: repeating-linear-gradient( 
    -45deg, 
    transparent, 
    transparent 2px, 
    rgba(255, 254, 254, 0.199) 2px, 
    rgba(255, 255, 255, 0.199) 4px
  );
  background-color: #24B4D7;
  mix-blend-mode:color-dodge;
  padding-top: 55px;
}
/* -----desc----- */
.desc {
  position: relative;
}
.desc__head {
  margin-top: 10px;
}
.desc__title {
  font-size: 2.75rem;
  font-weight: 600;
  color: #24B4D7;
  line-height: 1.25em;
  margin-bottom: 25px;
}
.desc__content {
  width: 480px;
  font-size: 1.2rem;
  line-height: 1.5em;
}
.desc__body {
  height: 375px;
}
.desc__media {
  position: absolute;
}
.desc__img {
  display: block;
  width: 100%;
  height: auto;
}
.desc__media--lg {
  width: 770px;
  top: 0px;
  right: -30px;
  height: 500px;
  clip-path: polygon(40% 0,100% 0%,60% 100%,0 100%);
}
.desc__media--lg > .desc__img {
  width: 115%;
  height: 100%;
  position: absolute;
  right: 0;
  object-fit: cover;
}
.desc__media--sm {
  width: 66.66%;
  top: 267px;
  left: -50px;
  height: 300px;
  clip-path: polygon(25% 0,100% 0%,75% 100%,0 100%);
}
.desc__media--sm::after {
  position: absolute;
  top: 0;
  content: url("../images/youtube-brands.png");
  text-align: center;
  padding-top: 120px;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient( 
    -40deg, 
    transparent, 
    transparent 2.5px, 
    #3f3f3f51 2.5px, 
    #3f3f3f51 5px
    );
  background-color: rgba(63, 63, 63, 0.2);
  mix-blend-mode: luminosity;
  box-sizing: border-box;
}
.desc__media--sm:hover {
  cursor: pointer;
}
.desc__foot {
  text-align: center;
  margin-top: 110px;
  padding-bottom: 145px;
  position: relative;
}
.desc__link {
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
}
/* -----modal----- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c5;
  z-index: 2;
  display: none;
}
.modal__media {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%); 
}
/* -----course----- */
.course {
  padding-bottom: 30px;
}
.course__title {
  width: fit-content;
  padding: 18px 30px;
  margin-top: 72px;
  background-color: #fff;
  color: #24B4D7;
  font-size: 3rem;
  font-weight: 600;
}
.course__intro {
  margin-top: 72px;
  margin-bottom: 50px;
}
.course__subTitle {
  width: fit-content;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 48px;
}
.course__subTitle::after {
  content: "";
  display: block;
  margin-top: 15px;
  width: 50px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  box-sizing: border-box;
}
.course__link {
  display: block;
  color: #24B4D7;
  text-decoration: none;
  margin-bottom: 100px;
  font-size: 2.2rem;
}
/* -----animate----- */
.animate__title {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1s ease-in-out;
}
.animate__item {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-in-out;
}
/* -----wrap----- */
.wrap {
  width: 33.33%;
  margin-bottom: 60px;
  box-sizing: border-box;
}
.wrap + .wrap {
  display: flex;
}
.wrap + .wrap::before {
  content: "\276D\276D";
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  align-self: center;
}

/* -----card----- */
.card {
  position: relative;
  background-color: #fff;
  margin-right: 20px;
  margin-left: 20px;
}
.card__imgContainer {
  height: 202px;
  overflow: hidden;
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 19px 15px;
}
.card__tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.card__desc {
  line-height: 1.3em;
}
.cardSet__arrow {
  width: 5%;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  align-self: center;
}
/* -----effort----- */
.effort {
  width: 85.33%;
  padding-top: 130px;
  padding-bottom: 130px;
}
.effort__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 70px;
}
.effort__box {
  width: 33.3333%;
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 2px 2px 30px rgba(189, 189, 189, 0.537);
}
.effort__box + .effort__box {
  margin-left: 35px;
}
.effort__count {
  margin-bottom: 20px;
}
.effort__num {
  font-size: 3rem;
  color: #24B4D7;
}
.effort__tbl {
  width: 100%;
  font-size: 1.25rem;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.effort__td,
.effort__th {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ddd ;
}
.effort__employ {
  width: 37%;
}
.effort__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
}
/* -----footer----- */
.footer {
  padding: 15px;
  color: #fff;
  background-color: #333;
}
.footer__head{
  font-size: 1.125rem;
  margin-bottom: 15px;
}
.footer__body,
.footer__foot {
  font-size: 0.8rem;
  line-height: 1.2em;
}
.toTop {
  display: none;
  position: fixed;
  bottom: 82px;
  text-decoration: none;
  right: 2%;
  font-size: 1.25rem;
}
/* -----helper----- */
.container {
  max-width: 1200px;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.d-flex {
  display: flex;
}
.block {
  text-align: center;
}
.block + .block {
  margin-left: 30px;
}
.block-info {
  background-color: #24B4D7;
}
.block-light {
  background-color: #4DC4E1;
}
.block-purple {
  background-color: #918EEC;
}
.btn {
  width: fit-content;
  padding: 10px 28px;
  border-radius: 3px;
}
.btn-sm {
  padding: 25px 20px;
}
.btn-md {
  padding: 15px 47px;
}
.btn-white {
  background-color: #fff;
}
.btn-black {
  background-color: rgba(0, 0, 0, 0.555);
  color: #fff;
}
.btn-peace {
  background-color: #24B4D7;
}
@keyframes fade {
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
.fade {
  animation: fade 20s ease-in-out infinite;
}
.fade-0 {
  animation-delay: 0;
}
.fade-1 {
  animation-delay: 5s;
}
.fade-2 {
  animation-delay: 10s;
}
.fade-3 {
  animation-delay: 15s;
}
.js-animate {
  opacity: 1;
  transform: translate(0);
}
.js-progress::after{
  border-color: #24B4D7 !important;
}
.js-progress .progress__bar {
  width: 100%;
}
.js-header {
  background-color: #ffffffe5;
}
.js-header .nav__link {
  color: #000;
}
.js-nav {
  display: block !important;
}
.bg-white {
  background-color: #fff;
}
.bg-cancel {
  background-color: #eee;
}
.text-bold {
  font-weight: 600;
}

/* -----RWD----- */
@media screen and (max-width:1200px) {
  .desc__title {
    font-size: 2.5rem;
  }
  .desc__media--lg {
    width: 60%;
    right: -10px;
  }
  .desc__media--sm {
    width: 60%;
    left: 0;
  }
  .main__head {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cardSet {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .block + .block {
    margin-left: 15px;
  }
  .count__tit {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2rem;
  }
  .progress__head,
  .progress__begin,
  .progress__foot {
    font-size: 0.75rem;
  }
  .desc__title {
    font-size: 2rem;
  }
  .desc__content {
    width: 460px;
  }
  .desc__link {
    margin-top: 350px;
  }
  .count__date {
    font-size: 1.05rem;
  }
  .effort {
    width: 90.54%;
  }
  .desc__media--lg {
    width: 60%;
    height: 380px;
    right: 0;
    clip-path: polygon(37% 0,100% 0%,63% 100%,0 100%);
  }
  .desc__media--sm {
    height: 225px;
    width: 60%;
    left: 0;
    top: 228px;
    clip-path: polygon(22% 0,100% 0%,78% 100%,0 100%);
  }
  .desc__img {
    height: 100%;
    object-fit: cover;
  }
  .desc__media--sm::after {
    padding-top: 60px;
  }
  .desc__body {
    height: 280px;
  }
  .course__title {
    font-size: 2.7rem;
  }
  .toTop {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: 87.7%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .intro__tit {
    font-size: 37px;
  }
  .intro__subTit {
    font-size: 25px;
  }
  .main__head {
    padding: 0;
  }
  .course__link {
    margin-top: 110px;
    margin-bottom: 0;
  }
  .course {
    padding-bottom: 130px;
  }
  .course__title {
    font-size: 1.875rem;
    max-width: 80%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .count__head,
  .count__foot {
    width: 31%;
  }
  .count__body{
    width: 38%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .count__tit {
    font-size: 1.4375rem;
  }
  .count__date {
    font-size: 1rem;
  }
  .block +.block {
    margin-left: 0;
  }
  .progress__head,
  .progress__foot,
  .progress__begin {
    font-size: 0.7rem;
  }
  .progress__head {
    right: -23px;
  }
  .progress__foot {
    right: -29px;
  }
  .desc__head {
    padding-left: 15px;
  }
  .desc__title {
    font-size: 2.5rem;
  }
  .desc__content {
    width: 80%;
    font-size: 1.2rem;
  }
  .desc__body {
    height: fit-content;
  }
  .desc__media {
    position: static;
    width: 100%;
    height: auto;
    clip-path: polygon(0 0,100% 0%,100% 100%,0 100%);
    box-sizing: border-box;
  }
  .modal__media {
    max-width: 100%;
  }
  .desc__img {
    width: 100%;
  }
  .desc__media--lg > .desc__img {
    width: 100%;
    position: static;
    height: auto;
  }
  .desc__media--sm {
    position: relative;
    top: 0;
  }
  .desc__media--sm::after {
    padding-top: 20%;
    opacity: 0.8;
  }
  .wrap {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .wrap +.wrap::before {
    margin-top: 20px;
    margin-bottom: 20px;
    transform: rotate(90deg);
  }
  .card__imgContainer {
    height: 365px;
  }
}
@media screen and (max-width: 576px) {
  .logo {
    width: 144px;
    height: 40px;
  }
  .header__ham {
    display: block;
  }
  .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .nav__ls {
    flex-direction: column;
    padding-left: 15px;
    background-color: #ffffffe5;
  }
  .nav__item {
    width: 100%;
    padding: 10px;
  }
  .nav__item +.nav__item {
    margin-left: 0;
  }
  .intro__tit {
    margin-top: 18px;
    margin-bottom: 40px;
  }
  .desc__title {
    font-size: 1.7rem;
  }
  .count__body {
    width: 100%;
    order: -1;
    height: 107px;
    padding-left: 14%;
    padding-right: 14%;
  }
  .count__head,
  .count__foot {
    width: 50%;
  }
  .course__title {
    font-size: 1.375rem;
  }
  .card__imgContainer {
    height: 240px;
  }
  .effort__tbl {
    font-size: 1rem;
  }
  .effort__props {
    flex-direction: column;
  }
  .effort__box {
    width: 100%;
  }
  .effort__box + .effort__box {
    margin-left: 0;
    margin-top: 15px;
  }
  .effort__title {
    font-size: 2rem;
  }
  .footer {
    text-align: center;
  }
}
@media screen and (max-width:414px) {
  .day,
  .hour,
  .min,
  .sec {
    font-size: 1.3rem;
  }
}
@media screen and (max-width:375px) {
  .day,
  .hour,
  .min,
  .sec {
    font-size: 1rem;
  }
  .desc__link,
  .effort__link {
    font-size: 1.9rem;
  }
  .btn-md {
    padding-left: 25px;
    padding-right: 25px;
  }
}
